name: ci-dagger

env:
  NETCORE_VERSION: 10.0.100
  ACTIONS_ALLOW_UNSECURE_COMMANDS: true
  DOTNET_ROLL_FORWARD: Minor

on:
  workflow_dispatch:
    inputs: {}

permissions:
  contents: write
  checks: write

jobs:
  build:
    uses: ./.github/workflows/dagger.yml
    # uses: ./.github/workflows/dotnet.yml
    name: build
    with:
      Directory: .
      NetCoreVersion: '10.0.100'
    secrets:
      GH_TOKEN:       '${{ secrets.CLOUDTEK_AUTOMATION_TOKEN }}'
      NUGET_API_KEY:  '${{ secrets.NUGET_API_KEY }}'
      DAGGER_CLOUD_TOKEN: '${{ secrets.DAGGER_CLOUD_TOKEN }}'
      DAGGER_SSH_PRIVATE_KEY: '${{ secrets.DAGGER_SSH_PRIVATE_KEY }}'