name: "dagger.yml (reusable)"
on:
  workflow_call:
    secrets:
      DAGGER_SSH_PRIVATE_KEY:
        description: "dagger@cloud-tek.io key"
        required: true
      DAGGER_CLOUD_TOKEN:
        description: "dagger.cloud token"
        required: false
      GH_TOKEN:
        description: "GitHub token"
        required: false
      NUGET_API_KEY:
        description: "NuGet API Key"
        required: false
    inputs:
      Directory:
        description: "Project directory"
        type: string
        required: true
      NetCoreVersion:
        type: string
        required: true

jobs:
  dagger:
    name: dagger
    runs-on: ubuntu-latest
    env:
      DAGGER_CLOUD_TOKEN: ${{ secrets.DAGGER_CLOUD_TOKEN }}
      GH_TOKEN: ${{ github.token }}
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: "0"
          token: ${{ secrets.GH_TOKEN }}
      - name: 'git config'
        run: |
          git config --global url."git@github.com:".insteadOf https://github.com
      - name: 'ssh-agent'
        uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.DAGGER_SSH_PRIVATE_KEY }}

      - uses: actions/setup-dotnet@v5
        name: dotnet installer
        with:
          dotnet-version: ${{ inputs.NetCoreVersion }}
      - name: global.json
        shell: bash
        run: |
          if [ -f "${{ github.workspace }}/global.json" ]; then
            echo "global.json exists"
          else
            echo "{ \"tools\": { \"dotnet\": \"${{ inputs.NetCoreVersion }}\" } }" > ${{ github.workspace }}/global.json
          fi
      - name: diag
        shell: bash
        run: |
          echo "Directory ${{ inputs.Directory }}"
          echo "Directory ${{ !inputs.Directory }}"
          echo "GH W: ${{ github.workspace }}"
      - name: dagger call build
        uses: dagger/dagger-for-github@v8.2.0
        with:
          module: git@github.com/cloud-tek/poc-dagger-dotnet@refs/tags/v0.0.1
          call: build --source=${{ github.workspace }}/${{ inputs.Directory }} --auto-apply
          cloud-token: ${{ secrets.DAGGER_CLOUD_TOKEN }}
          version: "v0.19.6"  # semver vX.Y.Z
      - name: tree results
        run: |
          tree ${{ github.workspace }}/results
      - name: tree artifacts
        run: |
          tree ${{ github.workspace }}/artifacts
      - name: Test Report
        uses: dorny/test-reporter@v1
        if: ${{ inputs.UnitTests }} || ${{ inputs.IntegrationTests }} && (success() || failure())
        with:
          name: XUnit Tests # Name of the check run which will be created
          path: ${{ github.workspace }}/results/tests/*.trx
          reporter: dotnet-trx # Format of test results
      # - name: gh release create
      #   shell: bash
      #   if: |
      #     github.ref == 'refs/heads/main' &&
      #     github.event_name == 'pull_request' &&
      #     github.event.action == 'closed' &&
      #     github.event.pull_request.merged == true
      #   env:
      #     GH_TOKEN: ${{ secrets.GH_TOKEN }}
      #   run: |
      #     BRANCH="${{ github.event.pull_request.head.ref }}"
      #     if [[ $BRANCH =~ (release)(\/|-)([0-9]+\.[0-9]+) ]]
      #     then
      #       echo "${{ github.event.pull_request.head.ref }} --> ${{ github.ref }} (tag: ${BASH_REMATCH[3]})"
      #       gh release create ${BASH_REMATCH[3]} --title "Release ${BASH_REMATCH[3]}" --verify-tag
      #     else
      #       echo "${{ github.event.pull_request.head.ref }} --> ${{ github.ref }} (tag: none)"
      #     fi